# cliente-repo/.github/workflows/cloudman-deploy.yml
name: Cloudman Deploy

on:
  push:
    paths:
      - '**/manifest.json'
      - '**/main.tf'
  workflow_dispatch:

jobs:
  call-engine:
    # AQUI ESTÁ A MÁGICA: O cliente usa o código do seu repositório central
    # Você pode usar @main, ou fixar uma versão como @v1, @v2-beta
    uses: cloudman-io/cloudman-core/.github/workflows/engine.yml@main
    with:
      aws_region: "us-east-1"
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
